.seocontext-locations {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

ul.selected-locations li
{
    cursor: pointer;
}

.seocontext-detecting-location, .seocontext-selected-location
{
    display: none;
}

.seocontext-locations .reset-location
{
    width: 16px;
    height: 16px;
    background-image: url('/bitrix/js/seocontext.locations/icon/dialog_close.png');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 -2px -22px;
}