.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    width: 400px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.seocontext-locations {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

ul.selected-locations li
{
    cursor: pointer;
}

.seocontext-detecting-location, .seocontext-selected-location
{
    display: none;
}