.general-font {
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
}
.tahoma-font {
  font-family: Tahoma, Arial, "Helvetica Neue", sans-serif;
}
.arial-font {
  font-family: Arial, "Helvetica Neue", sans-serif;
}
/***********************************************************************************************************************
 * Логотип и основное меню
 **********************************************************************************************************************/
.header {
  border: solid #F3F3F3;
  border-width: 1px 0 1px 0;
}
.header .header-navigation .navbar .navbar-collapse .nav.navbar-nav > li.dropdown .dropdown-menu {
  border: solid #dfe5e9;
  border-width: 0 1px 1px 1px;
}
.header .header-navigation .navbar .navbar-collapse .nav.navbar-nav > li li.dropdown .dropdown-menu {
  border: 1px solid #dfe5e9;
}
/***********************************************************************************************************************
 * Слайдер на главной
 **********************************************************************************************************************/
.home-slider .slide .image img {
  max-width: inherit;
}
/***********************************************************************************************************************
 * Слайдер в каталоге и портфолио
 **********************************************************************************************************************/
.slider-medium-images > div {
  display: none;
}
.slider-medium-images > div:first-child {
  display: block;
}
.slider-small-images {
  display: none;
}
